<h3>Bienvenido a <%= title %></h3>
<article class="contenedorArticle">
	<div class="fotoCv">
		<img src="images/FotoCV100x80.jpg" alt="RodolfoValentino">
		<div class= "pieFoto">
			Foto extraida de : <a href="https://www.flickr.com/photos/mcgraths/3289448299/">seanmcgrath</a> via <a href="http://photopin.com">photopin</a> <a href="http://creativecommons.org/licenses/by/2.0/">cc</a>
		</div>
	</div>
	<div class="textoIntro"> 
		<p><b>Rodolfo Valentino</b></p>
		<p>Interesado en Nuevas Tecnologías aplicadas a las TIC y dipositivos móviles</p>
		<p>Experimentado constantementecon software y hardware.</p>
	</div>
</article>
<article>
	<div class="videoPersonal">
		<video  class="personal" controls>
			<source src="video/Prueba1.webm" type="video/webm">
			<source src="video/Prueba1.ogv" type="video/ogg">
			Your browser does not support the video tag.
		</video> 
	</div>
	<div class="presenta"> 
		<h3> PRESENTACIÓN</h3> 
		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in erat eu neque auctor luctus. Etiam elementum sem non leo lobortis fermentum. Sed lobortis ullamcorper egestas. Aenean non urna sit amet nisl faucibus semper. Donec ut massa vel dolor dictum auctor. Fusce accumsan tristique lobortis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi ullamcorper consectetur semper. Donec at massa eleifend, egestas ligula at, tempor mi. Duis gravida feugiat ipsum ac ullamcorper. Nullam quis lacus quis nisl luctus ullamcorper. Maecenas hendrerit orci orci. Fusce et neque eu sem facilisis ultrices.</p>
	</div>
</article>

